.login-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}
form {
    width: min-content;
    border: thin solid black;
    padding: 1em;
    text-align: center;
}
form button {
    margin-bottom: 1.34375em;
}