.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.error {
    color: red;
    font-family: 'Times New Roman', Times, serif !important;
}
input {
    background-color: gray;
}