<div class="login-container">
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="email@domain.com" (keyup.enter)="login()" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="pword" placeholder="password" (keyup.enter)="login()" required>
        </mat-form-field>
        
        <button mat-stroked-button color="primary" [disabled]="form.invalid" (click)="login()">
            Submit
        </button>
        <div *ngIf="showError && loginError">
            <p class="error">
                {{loginError.code}} - {{loginError.message}}
                Incorrect email or password.
            </p>
        </div>
    </form>
</div>