<div id="page-background">
    <div id="page">
        <div class="d-flex">
            <div class="align-self-center">
                <button class="btn btn-primary" (click)="back()">Back to {{post.group | titlecase}}</button>
            </div>
            
            <div id="title" [ngSwitch]="type">
                <h1 *ngSwitchCase="'journal'">Daily Dose | {{type | titlecase}}</h1>
                <h1 *ngSwitchCase="'finance'">Common Cents | Budgeting and {{type | titlecase}}</h1>
                <h1 *ngSwitchCase="'hair'">Hair, There, Everywhere | {{type | titlecase}} Care</h1>
                <h1 *ngSwitchCase="'cleaning'">Tidy Talk | {{type | titlecase}}</h1>
                <h1 *ngSwitchCase="'travel'">Pack Your Bags | {{type | titlecase}}</h1>
                <h1 *ngSwitchCase="'fashion'">Classy Threads | {{type | titlecase}}</h1>
                <h1 *ngSwitchCase="'cooking'">Herbs and Lemons | {{type | titlecase}}</h1>
                <h1 *ngSwitchCase="'home'">A Beautiful Mess | {{type | titlecase}} Design</h1>
                <h1 *ngSwitchCase="'beauty'">Almost Bare | {{type | titlecase}}</h1>

                <h4>Created on - {{post.date.toDate() | date : 'short'}}</h4>
                <h4>{{post.description}}</h4>
            </div>
        </div>

        <hr>

        <div id="content">
            <p>{{post.content}}</p>
        </div>
    </div>
</div>