#title {
    text-align: center;
    margin: auto;
}

#content {
    padding: 3% 6%;
    text-align: justify;
}

.container-fluid {

}

#page-background {
    padding: 5%;
}

#page {
    background-color: antiquewhite;
    padding: 1.5% 2% 1.5% 2%;
    min-height: 100vh;
}