.container-fluid {

}
#page-background {
    padding: 5%;
}
.button-group,
.button-group > div {
    display: flex;
    flex-flow: row nowrap;
}
.button-group {
    margin-bottom: 1em;
}
.button-group button {
    margin-right: 1em;
}
#page {
    background-color: antiquewhite;
    padding: 1.5% 2% 1.5% 2%;
    min-height: 100vh;
}
#title {
    text-align: center;
    margin: auto;
}
#content {
    padding: 3% 6%;
    text-align: justify;
    height: 73vh;
}
.mat-form-field {
    width: 100%;
}
textarea {
    border: thin solid black;
    border-radius: 5px;
}
#content textarea {
    height: 62vh;
}