<div id="page-background">
    <div class="button-group">
        <button mat-raised-button color="primary" (click)="back()">
            Back to {{post.group | titlecase}}
        </button>
        <div *ngIf="isAdmin">
            <button mat-raised-button color="accent" (click)="operation = 'edit'">
                Edit
            </button>
            <button mat-raised-button color="warn" (click)="delete()" *ngIf="operation != 'new'">
                Delete
            </button>
            <button mat-raised-button color="accent" (click)="submitEdit()" *ngIf="operation == 'edit'" [disabled]="editForm.valid">
                Submit
            </button>
            <button mat-raised-button color="accent" (click)="addDoc()" *ngIf="operation == 'new'" [disabled]="newForm.valid">
                Add
            </button>
        </div>
    </div>
    <div id="page">
        <div class="d-flex">
            <div id="title" *ngIf="!operation">
                <h1>{{post.title}} | {{post.group | titlecase}}</h1>

                <h4>Created on - {{post.date.toDate() | date : 'short'}}</h4>
                <h4>{{post.description}}</h4>
            </div>
            <div id="title" *ngIf="operation == 'edit'">
                <h1>{{post.title}} | {{post.group | titlecase}}</h1>
                <h4>Created on - {{post.date.toDate() | date : 'short'}}</h4>
                <mat-form-field [formGroup]="editForm">
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div id="title" *ngIf="operation == 'new'">
                <!-- <h1>{{post.title}} | {{type | titlecase}}</h1> -->
                <mat-form-field [formGroup]="newForm">
                    <textarea matInput formControlName="description" required></textarea>
                </mat-form-field>
            </div>
        </div>

        <hr>

        <div id="content">
            <p *ngIf="!operation">{{post.content}}</p>
            <mat-form-field [formGroup]="editForm" *ngIf="operation == 'edit'">
                <textarea matInput formControlName="content"></textarea>
            </mat-form-field>
            <mat-form-field [formGroup]="newForm" *ngIf="operation == 'new'">
                <textarea matInput formControlName="content" required></textarea>
            </mat-form-field>
        </div>
    </div>
</div>