
<div class="container-fluid">
    <div id="title">
        <h1>Adventuring with the Banks</h1>
    </div>
</div>
<div id="intro">
    <p>
        Hi, I'm Courtney. here I will be sharing tips and tricks that help my cute husband and I through this adventure we call life.
    </p>
</div>
<div id="collections">
    <p id="header">
        These are a few collections: Adventuring with the Banks
    </p>

    <div class="d-flex justify-content-evenly">
        <a routerLink="/journal">
            <div class="card bg-transparent">
                <img src="assets/photos/Journal.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Daily Dose | Journal</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a routerLink="/finance">
            <div class="card bg-transparent">
                <img src="assets/photos/Budget.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Common Cents | Budgeting and Finance</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a routerLink="/hair">
            <div class="card bg-transparent">
                <img src="assets/photos/Hair.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hair, There, Everywhere | Hair Care</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
    </div>

    <div class="d-flex justify-content-evenly">
        <a routerLink="/cleaning">
            <div class="card bg-transparent">
                <img src="assets/photos/Cleaning.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tidy Talk | Cleaning</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a routerLink="/travel">
            <div class="card bg-transparent">
                <img src="assets/photos/Travel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pack Your Bags | Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a routerLink="/finance">
            <div class="card bg-transparent">
                <img src="assets/photos/Fashion.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Classy Threads | Fashion</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
    </div>

    <div class="d-flex justify-content-evenly">
        <a routerLink="/cleaning">
            <div class="card bg-transparent">
                <img src="assets/photos/Cooking.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Herbs and Lemons | Cooking</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a routerLink="/travel">
            <div class="card bg-transparent">
                <img src="assets/photos/Home.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">A Beautiful Mess | Home Design</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a routerLink="/finance">
            <div class="card bg-transparent">
                <img src="assets/photos/Makeup.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almost Bare | Beauty</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
    </div>
</div>