<div id="titleImage" class="container-fluid">
    <div id="title">
        <h1>Adventuring with the Banks</h1>
    </div>
</div>
<div id="intro">
    <p>
        Hi, I'm Courtney. here I will be sharing tips and tricks that help my cute husband and I through this adventure we call life.
    </p>
</div>

<div id="header">
    <p>These are a few collections: Adventuring with the Banks</p>
</div>

<div id="collections">
    <h3>Most recent addition:</h3>
    <div class="collections">
        <a routerLink="/blog/{{latestPost.group}}/{{latestPost.docID}}" *ngFor="let cat of categories">
            <div class="card bg-transparent" *ngIf="latestPost.group == cat.type">
                <div class="card-body">
                    <h4 class="card-title">{{cat.title}} | {{latestPost.group | titlecase}}</h4>

                    <h5 class="card-title">{{latestPost.date.toDate() | date : 'shortDate'}}</h5>
                    <p class="card-text">{{latestPost.description}}</p>
                </div>
            </div>
        </a>
    </div>

    <h3>Collections:</h3>
    <div class="collections" *ngFor="let post of posts">
        <a routerLink="/blog/{{post.group}}/{{post.docID}}" *ngFor="let cat of categories">
            <div class="card bg-transparent" *ngIf="cat.type == post.group">
                <div class="card-body">
                    <h4 class="card-title">{{cat.title}} | {{post.group | titlecase}}</h4>

                    <h5 class="card-subtitle">{{post.date.toDate() | date : 'shortDate'}}</h5>
                    <p class="card-text">{{post.description}}</p>
                </div>
            </div>
        </a>
    </div>
</div>