a {
    color: white;
}
a:hover {
    background-color: rgb(59, 57, 57);
    color: rgb(21, 158, 216);
    cursor: pointer;
}
.active {
    background-color: rgb(74, 74, 80) !important;
    color: aqua !important;
}
.dropdown-menu {
    background-color: black;
}