<nav class="navbar navbar-expand bg-dark">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" (click)="activeTab('HOME')" [ngClass]="{active: nav == 'HOME'}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/about" (click)="activeTab('about')" [ngClass]="{active: nav == 'about'}">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" 
                [ngClass]="{active: nav == 'journal' || nav == 'finance' || nav == 'hair' || nav == 'cleaning' || nav == 'travel' || nav == 'fashion' || nav == 'cooking' || nav == 'home' || nav == 'beauty'}">
                    Blogs
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let cat of categories">
                        <a class="dropdown-item" (click)="blogType(cat.type)" [ngClass]="{active: nav == cat.type}">
                            {{cat.title}} | {{cat.type | titlecase}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
