<h1>{{ title }}</h1>
<div>
    <input type="text" name="description" placeholder="Description" [(ngModel)]="description">
    <input type="text" name="content" placeholder="Content" [(ngModel)]="content">
    <button (click)="addDoc()">Submit</button>
</div>

<div *ngFor="let doc of DOCS">
    <a routerLink="/blog/{{type}}/{{doc.docID}}">
        <div class="card bg-transparent">
            <!-- <img src="assets/photos/Budget.png" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{doc.date.toDate() | date : 'longDate'}}</h5>
                <p class="card-text">{{doc.description}}</p>
            </div>
        </div>
    </a>
</div>