<div id="title">
    <button *ngIf="isAdmin" mat-raised-button color="accent" (click)="addPost()">Add Post</button>
    <h1>{{title}} | {{type | titlecase}}</h1>
</div>

<div id="outerBox">
    <div id="box">
        <div class="posts">
            <div class="post-container" *ngFor="let doc of DOCS">
                <a routerLink="/post">
                    <div class="card bg-transparent" (click)="setPost(doc)">
                        <!-- <img src="assets/photos/Budget.png" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">{{doc.date.toDate() | date : 'longDate'}}</h5>
                            <p class="card-text">{{doc.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    