#title {
    text-align: center;
    margin: 1.5%;
}

#outerBox {
    margin: 1.5% 1.5%;
    padding: 0.5%;
    border: 2px solid black;
    border-radius: 10px;
    width: 47%;
    height: 60vh;
}

#box {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.container {
    padding: 1.5% 0%;
    margin: auto;
    width: 50%;
}

.card {
    width: 100%;
}

.card:hover {
    transform: scale(105%);
    transition-duration: 1s;
}