#title {
    display: flex;
    flex-direction: column;
    margin: 1.5% 3.4em;
}
#title > h1 {
    position: absolute;
    align-self: center;
}
.mat-raised-button {
    position: relative;
    float: left;
    max-width: fit-content;
}
#outerBox {
    margin: auto;
    padding: 0.5%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 90%;
    height: 75vh;
    background-color: black;

}
#box {
    overflow: auto;
    width: 100%;
    height: 100%;
}
.posts {
    justify-content: space-around;
}
.card {
    width: 100%;
    background-color: white !important;
    color: black;
}
.card:hover {
    transform: scale(105%);
    transition-duration: 1s;
}