#about {
    padding: 5vh;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.col {
    margin: 3vh;
}

.card {
    padding: 0%;
    height: auto;
}

img {
    display: block;
    height: 60%;
    object-fit: cover;
}

#background {
    background: url('https://render.fineartamerica.com/images/rendered/default/print/8/5.5/break/images/artworkimages/medium/2/dark-blue-grunge-background-caracterdesign.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
}
