#about {
    padding: 2.5%;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
.card-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#background {
    background: url('https://render.fineartamerica.com/images/rendered/default/print/8/5.5/break/images/artworkimages/medium/2/dark-blue-grunge-background-caracterdesign.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    padding: 3.75%;
    min-height: -webkit-fill-available;
}
.card {
    padding: 0%;
    width: 20%;
    height: auto;
    border-radius: 10px;
}
.card p {
    color: black;
}
img {
    display: block;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}