#about {
    padding: 2.5%;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    padding: 0%;
    width: 20%;
    height: auto;
}

img {
    display: block;
    height: 60%;
    object-fit: cover;
}

#background {
    background: url('https://render.fineartamerica.com/images/rendered/default/print/8/5.5/break/images/artworkimages/medium/2/dark-blue-grunge-background-caracterdesign.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    padding: 3.75%;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
    
}

/* Portrait */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
        #about {
            padding: 3vw;
        }

        .card {
            width: 40%;
        }
}

/* Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
        #about {
            padding: 3vh;
        }

        .card {
            width: 40%;
        }
}