<div id="about">
    <p>
        About us: We are the Banks! We are newlyweds and starting our life adventure together.&nbsp;
        On this site, I will be posting tips and tricks that are helping us!&nbsp;
        We are excited for the future and can't wait to share things with y'all.
    </p>
</div>
<div id="background" class="container-fluid">
    <div class="d-flex justify-content-evenly flex-wrap">
        <div class="card">
            <img src="assets/photos/cenote.JPG" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">We love adventuring together</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/photos/wedding.JPG" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">And creating memories</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/photos/hunny.JPG" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">I'm the face behind the blog: I love all things fashion, beauty, and lifestyle</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/photos/justin.JPG" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">Justin: He's my supporter and an avid hunter. He loves the beach and being in nature</p>
            </div>
        </div>
    </div>
</div>